<ion-view view-title="Join" name="join-view" hide-nav-bar="true">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <label class="item item-input">
              <input type="phone" placeholder="Phone number" ng-model="data.phone">
          </label>
      </div>
      <!-- TODO: Layout Join Button again -->
      <button class="button button-block button-calm" ng-click="join()">Join</button>          
  </ion-content>
</ion-view>